Config (
    window_size: (600, 600),
    window_title: "WGSL Playground",

    fps_limit: Some(400),
    assets_folder: "assets",
    // shader_paths: ["shader", "recolor"],
    // shader_paths: ["blank"],
    // shader_paths: ["title"],
    shader_paths: ["sdf_explanation"],
)
